.nav{
	background: linear-gradient(45deg, #00a8f4 0%, #02d1a1 100%);
	color: rgba(0,0,0,.4);
}
.i{
  display: none;
}
input{
	background-color:transparent;
	border:none;
	border:1px solid #009afa;
	border-radius:20px;
	margin: 5%;
	height:50px;
	padding:10px;
	color:#009afa;
}

select{
	background-color:transparent;
	border:none;
	border:1px solid #009afa;
	border-radius:20px;
	color:#000;
	
}
.current{
	padding:3%;
	font-size: 1em;
	color:#009afa;
	font-weight: bold;
}
.current:hover{
	opacity: .4;
	color:#009afa;
}
.lbls{
	margin-left:6%;
}
.previous{
	font-size: 1em;
	color:#009afa;
	font-weight: bold;
}
.previous:hover{
	opacity: .4;
	color:#009afa;
}
.next{
	font-size: 1em;
	color:#009afa;
	font-weight: bold;
	margin-left:  3%;
}
.next:hover{
	opacity: .4;
	color:#009afa;
}
@media print {
.nav{
	display:none;
}
.table-responsive{
	top:5%;
}
body{
	color: #fff;
}
@page{
	margin:5%;
}
  input{
	display: none;
}
.tb-restrito{
	height:50%;
}

select{
	display: none;
}
.img-yeduk{
	display: none;
}
.current{
	display: none;
}

.previous{
	display: none;
}

.next{
	display: none;
}
#foto{
	display: none;
}
.btn-success{
	display: none;
}
label{
display: none;
}



}

